.Register .form{
    display: inline-block;
}
.Register .label{
    display: block;
    text-align: left;
}
.Register .form-inline {
    width: 100%;
}

.Register .form-group {
    width: 40%;
    text-align: left;
}

.Register .input-group {
    width: 40% !important;
}

.Register .form-control {
    width: 120% !important;
}

.Register span.input-group-addon {
    width: 50px !important;
}