.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  width: 300px;
  height: 35px;
  border: 0px solid #ccc;
  background-color: #fff;
}

.kontenjer{
    width:550px;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
 }

.info {
  text-shadow: 3px 3px 0px rgba(52,44,45,0.94);
  position: relative;
}

.info p{
  color: #e2e6ea;
}

.info h1{
  color: #e2e6ea;
}

.wrapper {
  display: grid;
  grid-template-columns: 1.15fr 0.85fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  height: calc(130vh);
  width: 98.89vw;
}

.one {
  grid-column:1/1;
  grid-row:1/4;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/piktir3.jpg");
  background-position-x: 63%;
}

.two{
  grid-column:2;
  grid-row:1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/piktir8.png");
}

.three{
  grid-column:2;
  grid-row:2;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/piktir9.png");
  background-position-y: 70%;
}

.four{
  grid-column:2;
  grid-row:3;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/piktir2.jpg");
  background-position-y: 50%;
}

.admin-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.adminOne{
  border: 0px solid deeppink;
  grid-column:1;
  grid-row:1;
}

.adminTwo{
  border: 0px solid deeppink;
  grid-column:2;
  grid-row:1;
}

.adminThree{
  border: 0px solid deeppink;
  grid-column:1/3;
  grid-row:2;
}

.dashboardBackground{
  height: 125vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/backgroundpiktir.jpg");
}

.login{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/piktir1.jpg");
}

.footer{
  grid-column: 1/3;
  grid-row: 4;
  background: #2d303e;
  height: 50px;
}

.kontent{
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userSearchBox{
  width: 350px !important;
}

.adminUserTable {
  width: 550px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}


.phoneNum{
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 0 rgba(52,44,45,0.94)
}

.kontentOne {
  position: absolute;
  bottom: 0;
  left: 10px;

}
.kontentFour{
  position: absolute;
  bottom: 0;
  right: 0;
}

.cfitNavbar{
  padding: 0 10px 0 10px !important;
}

.diag{
  width: 700px;
  margin: 0 auto;
  word-wrap: break-word;
}

.headerText{
  font-size: 13px;
}

.logoContainer{
  height: 50px;
  width: 180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("logo.svg");
}

.logoDva{
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("drawing.svg");
}

@media only screen and (max-width: 824px) {
  /* For mobile phones: */
  .wrapper {
    width: 99vw;
    height: 120vh;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .kontentOne {
    bottom: 0;
    right: 0;
  }
  .kontentFour{
    top: 0;
    left: 0;
  }

  .one {
    min-height: 200px;
    grid-row:1;
    grid-column: 1;
  }
  .two {
    min-height: 200px;
    grid-row:2;
    grid-column: 1;
  }
  .three {
    min-height: 200px;
    grid-row:3;
    grid-column: 1;
  }
  .four {
    min-height: 200px;
    grid-row:4;
    grid-column: 1;
  }

  .footer{
    min-height: 60px;
    grid-row:5;
    grid-column: 1;
  }
  .kontenjer{
    width: auto;
    height: 200px;
    overflow: scroll;
    overflow-x: scroll;
  }
  .diag{
    width: 90vw;
  }
  .dashboardBackground{
    height: 160vh;
  }


  .admin-wrapper {
    width: 99vw;
  }

  .adminOne {
    grid-column:1;
    grid-row:1;
  }

  .adminTwo {
    grid-column:1;
    grid-row:2;
  }

  .adminThree {
    grid-column: 1;
    grid-row: 3;
  }

  .adminUserTable {
    border: 0px solid crimson;
    width: 100%;
    height: 87px;
  }

  .adminContent{
    height: 34vh;
  }
}